:root {
  --rotate: 0deg;
  --scaleX: 1;
  --radius: 50%;
}

html,
body,
video {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

video {
  display: block;
  box-sizing: border-box;
  border-radius: var(--radius);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  transform: scaleX(var(--scaleX)) rotate(var(--rotate));
  transition: all 0.2s;
}

body {
  border-radius: var(--radius);
}
